body {
  background-color: gray;
  background-image: url(9ee7ad1c3464b738d3f111f6c720d81b.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #030303;
  color: #19B3E6;
  font-size: 1.8em; }

